body {
    background-image: url(https://pics.freeartbackgrounds.com/midle/Green_Fresh_Grass_Texture-1475.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


main {
    margin: 0em 20em;
    background-color: #fff;
    border: 4px solid rgba(150, 147, 4, 0.788);
}

section {
    width: 100%;
    height: 300px;
}

/** gatogordo **/
section:nth-of-type(1) {
    background-image: url(img/gato1.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
    width: 100%;
    height: 600px;
    background-attachment: fixed;
}

/** comida **/
section:nth-of-type(2) {
    background-image: url(img/cookie.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 490px;
}

section:nth-of-type(3) {
    background-image: url(img/gatocookie.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 400px;
    background-size: 250px;
}

section:nth-of-type(4) {
    background-color: rgba(255, 255, 255, 0);
    background-image: url(img/cafe.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 490px;
}

section:nth-of-type(5) {
    background-image: url(img/gatorefri.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 400px;
    background-size: 250px;
}

section:nth-of-type(6) {
    background-color: rgba(255, 255, 255, 0);
    background-image: url(img/peixe.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 600px;
}

section:nth-of-type(7) {
    background-image: url(img/gatopidao.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
    width: 100%;
    height: 600px;
    background-attachment: fixed;
}

section:nth-of-type(8) {
    background-color: rgba(255, 255, 255, 0);
    background-image: url(img/arvore\ natal.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 850px;
}

section:nth-of-type(9) {
    background-image: url(img/gatonatal.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 330px;
    width: 100%;
    height: 400px;
    background-attachment: fixed;
}

section:nth-of-type(10) {
    background-color: rgba(255, 255, 255, 0);
    background-image: url(img/Cat-Sitting-Staring-PNG.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 340px;
    width: 100%;
    height: 400px;
}

section:nth-of-type(11) {
    background-image: url(img/gatoamor.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 310px;
    width: 100%;
    height: 600px;
    background-attachment: fixed;
}


footer {
    text-align: center;
    background-color: rgb(41, 41, 41);
    color: #fff;
    padding: 2em 0;
}


@media(max-width:980px){
    main{
        margin: 0em 0em;
        
    }

}